.body{
    
    padding: 3em;
    width: 80%;
}

.col1{
    float: left;
    
}

.col2{
    float: right;
    width: 40%;
}
.left{
    float: left;
}
.right{
    float: right;
    width: 40%;
    
    
}
#text{
    resize: none;
    width: 70%;
    
}
#Druckausgabe{
    width: 70%;
    height:     50px;
}
